<!--This Code is also used from  https://github.com/mikhail-cct/CA1-In-class-Demo with nested pages-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>KFC App</title>
	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/KFCRestaurantStyles.css" rel="stylesheet">
</head>
 <body style= "background-color:pink">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-secondary static-top">  
		<div class="container">	<a class="navbar-brand" href="index.html">KFC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				   
					
				    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="Aboutus.html">About</a></li>
					 <li class="nav-item active"><a class="nav-link" href="Products.html">Products<span class="sr-only">(current)</span></a></li>
					 <li class="nav-item"><a class="nav-link" href="Gallery.html">Gallery</a></li>
					 <li class="nav-item"><a class="nav-link" href="Contactus.html">Contact</a></li>
	                 
					
				</ul>
			</div>
		</div>
	</nav>
		<!-- Page Content -->
</center>
 
              <br><center>  <img src="menu.jpg"/><h1> <!--https://www.google.com/search?q=kfc+products&rlz=1C1SQJL_enIE845IE845&sxsrf=ACYBGNRCtnedCMgktqK4o_lS9lGu69i4Gg:1575766475601&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiPupvI66TmAhWcRBUIHaE2C6IQ_AUoAXoECBAQAw&biw=1600&bih=789#imgrc=iHJyDMtM9LTEhM:-->
					
		 
	<footer>
<hr>
<br>
<center> FB:KFC OR VISIT OUR WEBSITE:WWW.KFC.COM<br>&copy;Copyrights 2019 - KFC APP </center></center>
</hr>
</footer>
</html>
	<!-- Bootstrap core JavaScript -->
	<script src="jquery/jquery.min.js"></script>
	<script src="jquery/table.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>